<div class="card" style="width: 18rem;">
    <img src="{{ pokemons.sprites }}" class="card-img-top" alt="Sprite">
    <div class="card-body">
      <h5 class="card-title">Pokemon Name</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Main Ability</li>
      <li class="list-group-item">Base Experience</li>
      <li class="list-group-item">Sprites</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Pokemon API Page</a>
    </div>
  </div>