{% extends 'base.html' %}
{% block title %}Edit My Comment{% endblock %}
{% block content %}
<form method="POST" action="{{url_for('data.edit_post', id=post.id)}}">
    <div class="mb-3">
      <textarea class="form-control" name="body" style="height:100px">{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-warning"><i class="fas fa-paper-plane"></i>Submit Edit</button>
</form>

{% endblock %}