{% extends 'base.html' %}
    {% block title %}
        Pokemon Flask App
    {% endblock %}
{% block content %}
    <h1>Pokemon!</h1>
    <small>Welcome to the world of Pokemon!</small><br>
    <small>Gotta Catch'em all!!</small>
{% endblock %}