{# {% extends 'base.html' %}
{% block title %}My Comments{% endblock %}
{% block content %}
    <h1>My Comments</h1>
    <hr>
    {% for comment in comments %}
        {% include './includes/_data.html' %}
    {% endfor %}

{% endblock %} #}